/* fonts */
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Open+Sans:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-black: #111;
  --brown: #382923;
  --primaryYellow: #e3b505;
  --secondaryYellow: rgb(242, 180, 80);
  --darkBrown:#BB9457;
}

body {
  font-size: 16px;
  font-family: 'open sans', sans-serif;
  color: var(--main-black);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url('../img/bodyBcg.jpeg');
}

/* header section */
#header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../img/headerBcg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.header_text {
  color: var(--primaryYellow);
  font-family: 'La Belle Aurore', cursive;
  font-size: 4.5rem;
}

.social_icons {
  list-style: none;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.icon {
  border: 1px solid var(--main-black);
  border-radius: 50%;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.icon:hover {
  background-color: var(--primaryYellow);
}

.fa-brands {
  padding: 8px;
}

.bars {
  position: fixed;
  top: 5%;
  right: 5%;
  color: var(--secondaryYellow);
  font-size: 3.5rem;
  cursor: pointer;
  animation-name: bars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bars {
  0%{
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
/* end of header section */

/* about section */
  #about {
    width: 90vw;
    margin: 0 auto;
    padding: 5rem 0;
  }

  .about_title {
    font-size: 3rem;
    margin-top: 2rem;
    font-family: 'La Belle Aurore', cursive;
  }

  .about_img img {
    width: 100%;
    display: block;
  }

  .about_text {
    letter-spacing: 0.1rem;
    line-height: 1.5;
    margin-top: 1rem;
    color: var(--main-black);
    margin-bottom: 3rem;
  }

  .underline {
    width: 80px;
    height: 4px;
    background-color: var(--secondaryYellow);
  }
/* end of about section */

/* drink section */
  #drink {
    background-color: var(--brown);
    color: var(--primaryYellow);
    padding: 4rem 0;
  }

  .drink_form {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .drink_form_title {
    font-family: 'La Belle Aurore', cursive;
    font-size: 3rem;
  }

  .drink_form input, 
   button {
    width: 100%;
    border-radius: 3px;
    background-color: rgba(111,87,77,0.6);
    border: none;
    color: var(--darkBrown);
    outline: none;
    padding: 0.32rem 0.5rem;
    border-radius: 0.5rem;
  }

  ::placeholder { 
    color: var(--darkBrown);
    opacity: 1; 
    font-size: 1rem;
    text-transform: capitalize;
  }
  
  .drink_form button {
    background-color: var(--secondaryYellow);
    color: var(--main-black);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s linear;
  }

  .drink_form button:hover {
    background-color: var(--primaryYellow);
  }
  /* work section */
  #work {
    width: 90vw;
    margin: 0 auto;
    text-align: center;
  }

  #work .underline {
    margin: 0 auto;
  }

  .work_container {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    margin-top: 15px;
    width: 100%;
  }

  .work_item {
    position: relative;
    background: linear-gradient(var(--primaryYellow),var(--primaryYellow));
    overflow: hidden;
  }

  #work img {
    width: 100%;
    height: 100%;
    display: block;
    transition: all linear 1s;
  }

  #work img:hover {
    opacity: 0.5;
    transform: scale(1.2);
  }
  /* end of work section */
/* end of drink section */